<!DOCTYPE html>
<html lang="en" ng-app="multiTimerApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-timer</title>

    <!-- add CSS  -->
    <link rel="stylesheet" href="assets/plugins/semantic-ui/semantic.min.css">
    <link rel="stylesheet" href="includes/css/styles.css">

    <!-- add JS plugins -->
    <script src="assets/plugins/jQuery/jquery-3.6.0.min.js"></script>        
    <script src="assets/plugins/angularJs/angular.min.js"></script>   
    <script src="assets/plugins/angularJs/angular-dateTime-filters.js"></script>   

    <script src="assets/plugins/semantic-ui/semantic.min.js"></script>
    <script src="assets/plugins/moment.js/moment.min.js"></script>
    <script src="assets/plugins/moment.js/moment-with-locales.js"></script>
    <script src="assets/plugins/moment.js/moment-jalaali.js"></script>
    <script src="includes/js/util.js"></script>
    
    <!-- add angularJs  -->
    <script src="includes/js/app/app.js"></script>
    <script src="includes/js/app/directives/digitalClock.js"></script>
    <script src="includes/js/app/controllers/TimerListController.js"></script>
    <script src="includes/js/app/components/timerList.js"></script>

</head>

<body ng-controller="TimerListController">

    <div class="ui container">
        <div class="ui top attached inverted menu">

            <!-- <button class="ui item animated button" ng-click="addTimer()">
                <i class="plus icon"></i>
                Generat Timer
                </button> -->

            <a class=" item" ng-click="addTimer()">
                <i class="plus icon"></i>
                Generat Timer
            </a>

            <!-- <div class="ui vertical animated button item" tabindex="0">
                    <div class="visible content">Generat Timer</div>
                    <div class="hidden content">
                        <i class="plus icon"></i>
                    </div>
                  </div> -->
            <!-- <i class="plus icon" ng-click="addTimer()"></i> -->

            <div class="right menu">
                <div class="ui right aligned category search item">
                    <div class="ui transparent icon input">
                        <input class="prompt" type="text" placeholder="Search animals...">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>

        <div class="ui attached segment">
            <div class="ui cards timers-wrapper">
                <div class="card timer" ng-repeat="timer in timers">
                    <a class="ui right corner label">
                        <i class="cogs icon link" ng-click="showModal(timer)"></i>
                    </a>
                    <div class="content">
                        <div class="ui header title" my-customer>
                            <span>Title : </span>
                            <input ng-model="timer.title" placeholder="Write your title">
                            <div class="sub header">ID : {{timer.uniqueId}} </div>
                        </div>

                        <div class="ui teal statistic">
                            <div class="value">
                                <span digital-clock>00:00:00</span>
                            </div>
                            <div class="label">
                                Duration (Now)
                            </div>
                        </div>

                        <!-- <div class="meta">Duration (Now) : <span digital-clock></span></div> -->
                        <div class="description">Duration (Total) : {{timer.duretion}}</span></div>
                    </div>
                    <div class="extra content" ng-if="timer.status != 'STOPED'">
                        <div class="ui two buttons">
                            <div class="ui yellow button" ng-if="timer.status == 'PLAYED'" ng-click="pauseTimer(timer)">
                                Pause</div>
                            <div class="ui green button" ng-if="timer.status == 'PAUSED'" ng-click="playTimer(timer)">
                                Play</div>
                            <div class="ui red button" ng-click="stopTimer(timer)">Stop</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui bottom attached segment">
            <table class="ui compact celled definition table">
                <thead class="full-width">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Registration Date</th>
                        <th>E-mail address</th>
                        <th>Premium Plan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="timer in timers">
                        <td class="collapsing">
                            <div class="ui fitted slider checkbox">
                                <input type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td>{{timer.startEvent}}</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="4">
                            <div class="ui right floated small primary labeled icon button">
                                <i class="user icon"></i> Add User
                            </div>
                            <div class="ui small  button">
                                Approve
                            </div>
                            <div class="ui small  disabled button">
                                Approve All
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- <ul>
            <li ng-repeat="time in timers">
                <span>{{time.name}}</span>
                <p>{{time.snippet}}</p>
            </li>
        </ul> -->
        <timer-list></timer-list>
    </div>

    <div class="ui modal">
        <div class="header">Header</div>
        <div class="content" ng-model="timer">
            <div class="ui equal width form">
                <div class="fields">
                    <div class="field">
                        <label>Title</label>
                        <input type="text" placeholder="Title" ng-model="modalData.title">
                    </div>
                    <div class="field">
                        <label>ID</label>
                        <input type="text" readonly placeholder="ID" ng-model="modalData.uniqueId">
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>FAMS STORY NUMBER</label>
                        <input type="text" placeholder="FAMS STORY NUMBER" ng-model="modalData.title">
                    </div>
                    <div class="field">
                        <label>FAMS TASK NUMBER</label>
                        <input type="text" placeholder="FAMS TASK NUMBER" ng-model="modalData.title">
                    </div>

                </div>
            </div>
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <!-- <th>Row number</th> -->
                        <th>Play Time</th>
                        <th>Pause Time</th>
                        <th>Duration Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="paused in modalData.pausedList">
                        <td>{{paused.playTime | moment: 'format' : 'YYYY/MM/DD HH:mm:ss'}}</td>
                        <td>{{paused.puseTime | moment: 'format' : 'YYYY/MM/DD HH:mm:ss'}}</td>
                        <td>{{paused.puseTime - paused.playTime | msToTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>









</body>

</html>